@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.active {
  color: red;
}

input {
  border: 1px solid #ccc;
  width: 50%;
  height: 30px;
}

form div {
  margin: 10px 0;
}

.overlay {
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

textarea {
  width: 600px;
  height: 200px;
  border: 1px solid #ccc;
  display: block;
}

select {
  border: 1px solid #ccc;
  width: 50%;
  height: 30px;
}

.img-up {
  display: flex;
}

.file_img {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 5px;
}

.img-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.file_img span {
  color: red;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: white;
  border-radius: 50%;
  padding: 3px 7px;
}

.inputDiv {
  border: 1px solid;
  padding: 10px;
  display: flex;
}

.btn {
  background-color: orange;
  padding: 10px;
  display: block;
  /* width: 100px; */
  height: 40px;
  margin: 0 10px;
}

.homeDiv {
  display: flex;
  flex-wrap: wrap;
}

.productCard {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #ccc;
}

.cardContent {
  padding: 20px 10px 30px;
}

.btnDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.view {
  /* display: block; */
  padding: 5px 5px;
  height: 35px;
  border: 1px solid orange;
  text-align: center;
}

.add {
  background-color: orange;
  color: white;
  padding: 5px 5px;
  height: 35px;
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- Products ------------- */
@import url("./product.css");
